body {
    background-image: url(board.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: transparent;
}

label {
    font-weight: bold;
}

table td {
    word-wrap: break-word; /* All browsers since IE 5.5+ */
    overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */

}


h1, h2 {
    text-align: center;
}


.button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 3px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin: auto;
    text-align: center

}


.footer {
    position: ;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;

}


.topnav {
    overflow: hidden;
    background-color: #485F6E;
    height: auto;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav input[type=text] {
    float: right;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    width:auto;}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

textarea {
    border-radius: 10px;
}


/*.footer #button{*/
/*width:35px;*/
/*height:35px;*/
/*border: #727172 12px solid;*/
/*border-radius:35px;*/
/*margin:0 auto;*/
/*position:relative;*/
/*-webkit-transition: all 1s ease;*/
/*-moz-transition: all 1s ease;*/
/*-o-transition: all 1s ease;*/
/*-ms-transition: all 1s ease;*/
/*transition: all 1s ease;*/
/*}*/
/*.footer #button:hover{*/
/*background:red;*/
/*width:35px;*/
/*height:35px;*/
/*border: #3A3A3A 12px solid;*/
/*-webkit-transition: all 1s ease;*/
/*-moz-transition: all 1s ease;*/
/*-o-transition: all 1s ease;*/
/*-ms-transition: all 1s ease;*/
/*transition: all 1s ease;*/
/*position:relative;*/
/*}*/
/*.footer {*/
/*bottom:0;*/
/*left:0;*/
/*position:fixed;*/
/*width: 100%;*/
/*height: 2em;*/
/*overflow:hidden;*/
/*margin:0 auto;*/
/*-webkit-transition: all 1s ease;*/
/*-moz-transition: all 1s ease;*/
/*-o-transition: all 1s ease;*/
/*-ms-transition: all 1s ease;*/
/*transition: all 1s ease;*/
/*z-index:999;*/
/*}*/
/*.footer:hover {*/
/*-webkit-transition: all 1s ease;*/
/*-moz-transition: all 1s ease;*/
/*-o-transition: all 1s ease;*/
/*-ms-transition: all 1s ease;*/
/*transition: all 1s ease;*/
/*height: 10em;*/
/*}*/
/*.footer #container{*/
/*margin-top:5px;*/
/*width:100%;*/
/*height:100%;*/
/*position:relative;*/
/*top:0;*/
/*left:0;*/
/*background: #ffa886;*/
/*}*/
/*.footer #cont{*/
/*position:relative;*/
/*top:-45px;*/
/*right:190px;*/
/*width:150px;*/
/*height:auto;*/
/*margin:0 auto;*/
/*}*/
/*.footer_center{*/
/*width:500px;*/
/*float:left;*/
/*text-align:center;*/
/*}*/
/*.footer h3{*/
/*font-family: 'Helvetica';*/
/*font-size: 30px;*/
/*font-weight: 100;*/
/*margin-top:70px;*/
/*margin-left:40px;*/
/*}*/


th, td, tr:FIRST-CHILD {
    text-align: center;
    padding: 1px;
}

table th:nth-child(1) {
    padding: 1px;
}


.block {
    height: 2000px;
}

.header img {
    width: 100%;
}

.footer-nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.show, .footer-nav:hover {
    display: block;
}

a {
    color: white;
}

td a {
    color: black
}


.primary {
    border: none;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #485F6E;
    color: white;
}


.modal-title {
    text-align: center;
    font-size: 2em;
}


.btn-primary {
    margin-left: 43%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-secondary {
    margin-right: 46%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.registration-form{
    margin-top: 10%;
    text-align: center;
    align-content: center;
    color: #cccccc;
    display:grid;
}

.registrationh-h-tag h1{
    text-align: center;
}

.registration-input input[type=text]{
    padding:20px
}
.registration-input input[type=password]{
    padding:20px
}


.valid-user-info p{
    margin-right: 20px;
    color:white;
}


.primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.primary span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.primary:hover span {
  padding-right: 25px;
}

.primary:hover span:after {
  opacity: 1;
  right: 0;
}

.topnav a>p{
    margin: 0 0 0 0;
}